@{
    ViewBag.Title = "About Us";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article>
    <p>
        For our class Fundamentals of Software Engineering we were required to build a application that has the following features: 
    </p>

    <p>
       
    </p>
</article>