@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
   
</hgroup>

<section class="contact">
    <header>
        <h3>Class</h3>
    </header>
    <p>
        <span class="label">055:180:SCA</span>
        <span>Fundamentals of Software Engineering</span>
    </p>
    <p>
        <span class="label">University of Iowa</span>
        
    </p>
</section>

<section class="contact">
    <header>
        <h3>Members</h3>
    </header>
    <p>
        <span class="label">Ben Geordt:</span>
        <span>ben-geordt@uiowa.edu</span>
    </p>
    <p>
        <span class="label">Gunnar Mills:</span>
        <span>gunnar-mills@uiowa.edu</span>
    </p>
    <p>
        <span class="label">Hao Du:</span>
        <span>hao-du@uiowa.edu</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        107 Calvin Hall<br />
        Iowa CIty, IA
    </p>
</section>